h1{
    color: rgb(3, 255, 255);
    font-size :
}
span{
    color: rgb(193, 74, 193);
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    size: 0mm;
    color: rgb(39, 64, 205);
   
}


